.showCart {
  animation: cartMove 0.4s ease-out;
}
.hideCart {
  animation: cartHide 1s ease-out;
}

@keyframes cartMove {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes cartHide {
  from {
    right: 0%;
  }
  to {
    right: -100%;
  }
}
